.parent {
    -fx-background-color: #FFB7CE


}
.sidebar {
    -fx-background-color: gray
}
.bt {
    -fx-background-color: transparent
}
.bt:hover {
    -fx-background-color: #C68EA0
}
.box {
    
}
.role-box {
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-background-color: #ffdde6; /* light pink */
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 3, 0, 1, 1);
    -fx-alignment: center;
}

.role-box:hover {
    -fx-background-color: #ff99bb; /* brighter pink on hover */
}

.role-box.clicked {
    -fx-background-color: #ff4d88; /* strong pink on click */
}