
.parent {
    -fx-background-color: #FFB7CE


}
.sidebar {
    -fx-background-color: gray
}
.bt {
    -fx-background-color: transparent
}
.bt:hover {
    -fx-background-color: #C68EA0
}
.box {
    
}